@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/swiper/swiper.min.css";

.font-head {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.line-break-0 {
  line-break: unset;
}
.w-53 {
  width: 53%;
}
.mirror {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
}

.scale_dwn {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.left-50 {
  left: 22%;
}
/* 
.col-2 {
  flex: 0 0 auto;
  width: 14.66666667%;
} */

.top-12 {
  top: 53px;
}

.bg-menu {
  background-color: #f2f2f2;
}
.bg-menu-bottom {
  background-color: #e6e6e6 !important;
}
.whitespace-nowrap {
  white-space: nowrap;
}

.arrow::after {
  content: "";
  margin-left: 5px;
  display: inline-flex;
  width: 6px;
  height: 7px;
  overflow: visible;
  border-right: 1px solid black;
  border-top: 1px solid black;
  transform: rotate(45deg);
}
.w-85 {
  width: 95%;
}
.w-90{
  width: 91%;
}
.w-36 {
  width: 36%;
}
input[id="open"]:checked ~ .container {
  display: flex !important;
}
.cursor {
  cursor: pointer;
}
.hover-underline:hover {
  text-decoration: underline;
}
.border-dotted-hover:hover {
  border: 1px dotted black;
}
.bg-blue {
  background-color: #0067b8;
}
.font-sect {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.font-weight-600 {
  font-weight: 600;
}
.arrow-animation-hover:hover svg {
  transform: translate(30%, 0);
  -webkit-transform: translate(30%, 0);
  -moz-transform: translate(30%, 0);
  -ms-transform: translate(30%, 0);
  -o-transform: translate(30%, 0);
  transition-duration: 500ms;
}
.section1-bgimage {
  background-image: url("../public/Highlight-Surface-Laptop-AI-7Ed-Platinum-MC003-3000x1682_VP5-1920x600.avif");
  background-size: 100%;
  background-position: center;
}
.section2-bgimage {
  background-image: url("../public/Highlight-M365-Icon-Bounce_VP5-1920x600.avif");
  background-size: 100%;
  background-position: center;
}
.btn-light {
  background-color: #0067b8;
}
.font-slider {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 37px;
}
.text-align-justify {
  text-align: justify;
}
.swiper-slide {
  width: 100vw !important;
  padding: 0;
  margin: 0;
  height: 60vh !important;
}
.py-7 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.z-1 {
  z-index: 1 !important;
}
.z-0 {
  z-index: 0 !important;
}
.loop_btn {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 75%);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  left: 47%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
  overflow: visible;
}
.swiper-button-next {
  position: absolute;
  color: black;
  top: var(--swiper-navigation-top-offset, 75%);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  left: 53%;
  overflow: visible;
}
.swiper-button-prev {
  position: absolute;
  color: black;
  top: var(--swiper-navigation-top-offset, 75%);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  left: 50%;
  overflow: visible;
}
.swiper-pagination {
  position: absolute;
  z-index: 1;
  top: var(--swiper-navigation-top-offset, 75%);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  left: 56%;
}

.h-73vh {
  height: 73vh;
}
.card-border {
  border: 3px solid #f2f2f2;
  box-shadow: 14px 14px #f2f2f2 14px 14px #f2f2f2;
}
.bottom-5p {
  bottom: 5%;
}
.bg-copilot-native {
  background-image: url(../public/Highlight-Copilot-Native-App-ROW_VP5-1596x600.avif);
  background-size: cover;
}
.mx-6 {
  margin-left: 9%;
  margin-right: 9%;
}

